
<!--  -->
<br>
<!--  -->
<div class = "row">
    <h2>Feedback</h2>
</div>

<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th> Id </th>
            <th> Tradition Name</th>
            <th> Arrive Date </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>
                <button  class = "btn btn-success"> Confirm</button>
                <button  class = "btn btn-danger" style="margin-left: 10px"> Cancel</button>
            </td>
        </tr>
    </tbody>
</table>