<!-- nav -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" >Amka-na-Mwanamke</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active"  routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/menu" routerLinkActive="active-link">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active-link">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- end nav -->
<div class="container mt-5 mb-5">
    <div class="row">

        <div class="col-lg-3 mt-3" >
            <div class="carbox mt-3 mb-3">
                <img src="../../assets/1515500758_0676.webp">
                <h1></h1>
                <h1></h1>
                <p></p>
                <br>
                <a class="bookbtn" routerLink="/login" >Book Now <i class="bi bi-geo-alt"></i></a>
            </div>
        </div>
        <!--  -->
        <div class="col-lg-3 mt-3" >
            <div class="carbox mt-3 mb-3">
                <img src="../../assets/Zanzibar_Seaweed3_TNC_1500-768x488.jpg">
                <h1></h1>
                <h1></h1>
                <p></p>
                <br>
                <a class="bookbtn" routerLink="/login">Book Now <i class="bi bi-geo-alt"></i></a>
            </div>
        </div>
        <!--  -->
        <div class="col-lg-3 mt-3" >
            <div class="carbox mt-3 mb-3">
                <img src="../../assets/IMG-20220926-WA0075.jpg">
                <h1></h1>
                <h1></h1>
                <p></p>
                <br>
                <a class="bookbtn" routerLink="/login">Book Now <i class="bi bi-geo-alt"></i></a>
            </div>
        </div>
        <!--  -->
        <div class="col-lg-3 mt-3" >
            <div class="carbox mt-3 mb-3">
                <img src="../../assets/IMG-20220926-WA0076.jpg">
                <h1></h1>
                <h1></h1>
                <p></p>
                <br>
                <a class="bookbtn" routerLink="/login">Book Now <i class="bi bi-geo-alt"></i></a>
            </div>
        </div>
        <!--  -->
        <div class="col-lg-3 mt-3" >
            <div class="carbox mt-3 mb-3">
                <img src="../../assets/IMG-20220926-WA0077.jpg">
                <h1></h1>
                <h1></h1>
                <p></p>
                <br>
                <a class="bookbtn" routerLink="/login">Book Now <i class="bi bi-geo-alt"></i></a>
            </div>
        </div>
        <!--  -->
        <div class="col-lg-3 mt-3" >
            <div class="carbox mt-3 mb-3">
                <img src="../../assets/en-action.jpg">
                <h1></h1>
                <h1></h1>
                <p></p>
                <br>
                <a class="bookbtn" routerLink="/login">Book Now <i class="bi bi-geo-alt"></i></a>
            </div>
        </div>
        <!--  -->
        <div class="col-lg-3 mt-3" >
            <div class="carbox mt-3 mb-3">
                <img src="../../assets/kichanga-lodge.jpg">
                <h1></h1>
                <h1></h1>
                <p></p>
                <br>
                <a class="bookbtn" routerLink="/login">Book Now <i class="bi bi-geo-alt"></i></a>
            </div>
        </div>
        <!--  -->
        <div class="col-lg-3 mt-3" >
            <div class="carbox mt-3 mb-3">
                <img src="../../assets/ZUU 25.png">
                <h1></h1>
                <h1></h1>
                <p></p>
                <br>
                <a class="bookbtn" routerLink="/login">Book Now <i class="bi bi-geo-alt"></i></a>
            </div>
        </div>
        <!--  -->
        
    </div>

</div>
<!-- footer -->
<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg-4">
            <h1>Amka-na-Mwanamke</h1>
        </div>
        <!-- nav -->
        <div class="col-lg-4" id="nav">
            <p>Links</p>
            <a routerLink="home">Home</a>
            <a routerLink="about">About</a>
            <a routerLink="gallery">Gallery</a>
       
        
        </div>
        <!-- social media -->
        <div class="col-lg-3" id="social">
            <p>Contact Us</p>
            <a href="#"><i class="bi bi-facebook" target="_blank"></i></a>
            <a href="#"><i class="bi bi-whatsapp" target="_blank"></i></a>
            <a href=""><i class="bi bi-instagram" target="_blank"></i></a>
        </div>
        <!-- Payment -->
        <div class="col-lg-1">
            <img src="../assets/payment1.png" class="payment">
            <img src="../assets/payment2.png" class="payment">
            <img src="../assets/payment3.png" class="payment">
            <img src="../assets/payment4.png" class="payment">
        </div>

    </div>
    <h2> &copy;Copyright Amka na Mwanamke:Developed By Team name</h2>
</div>
