<div class="container" id="container-signup">
    <div class="signup-more"></div>
    <div class="wrap-signup">
        <form   class="signup-form" >
            <span class="signup-form-title">Sign Up</span>
            <!--  -->
            <div class="wrap-input">
                <span class="label-input">Full Name</span>
                <input class="input" type="text" name="fullname" placeholder="Name..."  > 
                <span class="focus-input"></span>
                <!-- <small class="text-danger" >Full Name is required</small> -->
            </div>
            <!--  -->
            <!-- <div class="wrap-input">
                <span class="label-input">Address</span>
                <input class="input" type="text" name="address" placeholder="Address" > 
                <span class="focus-input"></span>
                <small class="text-danger" >Address is required</small>
            </div> -->
            <!--  -->
            <div class="wrap-input">
                <span class="label-input">Email Address</span>
                <input class="input" type="email" name="email" placeholder="Email..." > 
                <span class="focus-input"></span>
                <!-- <small class="text-danger" >Email is required</small> -->
            </div>
            <!--  -->
         
            <!--  -->
            <div class="wrap-input">
                <span class="label-input">Phone no.</span>
                <input class="input" type="number" name="phone" placeholder="Phone..." > 
                <span class="focus-input"></span>
                <!-- <small class="text-danger" >Phone Number is required</small> -->
            </div>
            <!--  -->
            <div class="wrap-input">
                <span class="label-input">Password</span>
                <input class="input" type="password" name="password" placeholder="*************" > 
                <span class="focus-input"></span>
                <!-- <small class="text-danger" >Password is required</small> -->
            </div>
            <!-- <div class="wrap-input">
                <span class="label-input">Repeat Password</span>
                <input class="input" type="password" name="password" placeholder="*************" required> 
                <span class="focus-input"></span>
            </div> -->
            <!--  -->
            <div class="container-terms">
                <input class="input-checkbox" id="ckb1" type="checkbox" name="remember-me">
                <label class="label-checkbox" for="ckb1">
                    <span class="txt1">I agree to the
                        <a class="txt2 hov1" href="#">Terms of User</a>
                    </span>
                </label>
            </div>
            <!--  -->
            <div class="container-signup-form-btn">
                <div class="wrap-signup-form-btn">
                    <button class="signup-form-btn"  type="submit" routerLink="/login">Sign-up</button>
                </div>
                <a class="loggin-button hov1" routerLink="/login">Sign in
                    <i class="bi bi-box-arrow-in-right" style="color:black;"></i>
                </a>
            </div>
        </form>
    </div>
</div>