<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg-4">
            <h1>Amka-na-Mwanamke</h1>
        </div>
        <!-- nav -->
        <div class="col-lg-3" id="nav">
            <p>Links</p>
            <a routerLink="home">Home</a>
            <a routerLink="about">About</a>
            <a routerLink="gallery">Gallery</a>
       
        
        </div>
        <!-- social media -->
        <div class="col-lg-3" id="social">
            <p>Contact Us</p>
            <a href="#"><i class="bi bi-facebook" target="_blank"></i></a>
            <a href="#"><i class="bi bi-whatsapp" target="_blank"></i></a>
            <a href=""><i class="bi bi-instagram" target="_blank"></i></a>
        </div>
        <!-- Payment -->
        <div class="col-lg-1">
            <img src="../assets/payment1.png" class="payment">
            <img src="../assets/payment2.png" class="payment">
            <img src="../assets/payment3.png" class="payment">
            <img src="../assets/payment4.png" class="payment">
        </div>

    </div>
    <h2> &copy;Copyright Amka na Mwanamke:Developed By Team name</h2>
</div>
