<main>
    <div class="wrappers">
      <h2>Wellcome Admin</h2>
      <form action="#">
        <div class="input-box">
          <label for="email" hidden>Email</label>
          <input type="email" name="email" id="email" required placeholder="Enter your email">
        </div>
        <div class="input-box">
          <label for="password" hidden>Password</label>
          <input type="password" name="password" id="password" required placeholder="Create password">
        </div>
      
        <div class="input-box button">
          <label for="submitButton" hidden>Login now</label>
          <input type="submit" name="submitButton" id="submitButton" value="Login now" routerLink="/admin">
        </div>
     
      </form>
    </div>
  </main>
