<div class="container" id="container-signup">
    <div class="signup-more"></div>
    <div class="wrap-signup">
        <form class="signup-form" >
            <span class="signup-form-title">Sign In</span>
            <!--  -->
         
            <!--  -->
        
            <!--  -->
            <div class="wrap-input">
                <span class="label-input">Email Address</span>
                <input class="input" type="email" name="email" placeholder="Email..." > 
                <span class="focus-input"></span>
                <small class="text-danger" >Email is required</small>
            </div>
            <!--  -->
         
            <!--  -->
           
            <!--  -->
            <div class="wrap-input">
                <span class="label-input">Password</span>
                <input class="input" type="password" name="password" placeholder="*************" > 
                <span class="focus-input"></span>
                <small class="text-danger" >Password is required</small>
            </div>
           
            <!--  -->
         
            <!--  -->
            <div class="container-signup-form-btn">
                <div class="wrap-signup-form-btn">
                    <button class="signup-form-btn" type="submit" routerLink="/mwanamke">Sign-in</button><br><p></p>
                    <a href="#">forgotten password</a>
                </div>
                <a class="loggin-button hov1" routerLink="/reg">Sign-Up
                    <i class="bi bi-box-arrow-in-right" style="color:black;"></i>
                </a>
            </div>
        </form>
    </div>
</div>