*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
input,textarea{
outline: none;
border: none;
}
#container-signup{
    width: 100%;
    display: flex;
}
.signup-more{
    width: calc(100% - 520px);
    position: relative;
    background: url('../../../assets/i9u7LNmYZunYDMicSMPC1PhW5NTC9HFHI4MsMFAU.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.wrap-signup{
    width: 520px;
    min-height: 100vh;
    background: #fff;
    border-radius: 2px;
    position: relative;
    padding: 72px 50px 0 50px;
}
.signup-form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
.signup-form-title{
    display: block;
    width: 100%;
    font-size: 39px;
    font-weight: 900;
    color: #333333;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 59px;
}
.wrap-input{
    width: 100%;
    position: relative;
    border-bottom: 2px solid #dbdbdb;
    margin-bottom: 45px; 
}
.label-input{
    font-size: 18px;
    font-weight: 600;
    color: #999999;
    line-height: 1.2;
    padding-left: 2px;
}
input{
    display: block;
    width: 100%;
    height: 50px;
    background: transparent;
    font-size: 22px;
    color: #555;
    line-height: 1.2;
    padding: 0 2px;
}
.focus-input{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.focus-input::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #d5007d;
}
.input:focus+ .focus-input::before{
    width: 100%;
}
.container-terms{
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 35px;
}
.input-checkbox{
    display: none;
}
.label-checkbox{
    margin: 0;
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    
}
.label-checkbox::before{
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 50%;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background:#e6e6e6;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.input-checkbox:checked + .label-checkbox::before{
    color: #c87ef0;
}
.txt1, .txt2{
    font-size: 15px;
    color: #999;
    line-height: 1.4;
}
.txt2{
    color: #6666;
}
.hov1:hover{
    color: #c87ef0;
}

/*  */
.container-signup-form-btn{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
/*  */
.wrap-signup-form-btn{
    display: block;
    position: relative;
    padding-bottom: 10px;
}
/*  */
.signup-form-btn{
    width: 245px;
    height: 48px;
    padding: 10px 30px;
    background: #e8519e;
    border-radius:25px;
    font-size: 16px;
    color: #fff;
}
/*  */
button{
    outline: none !important;
    border: none;
    background: transparent;
}
/*  */
button:hover{
    cursor: pointer;
}
/*  */
a, a:hover{
    text-decoration: none;
}
/*  */
textarea:focus, input:focus{
    border-color: transparent !important;
}
/*  */
input:focus::-webkit-input-placeholder{
    color: transparent;
}
input:focus:-moz-placeholder{color: transparent;}
input:focus::-moz-placeholder{color: transparent;}
input:focus:-ms-input-placeholder{color: transparent;}

/*  */
input::-webkit-input-placeholde{
    color: #ccc;
}
/*  */
textarea::-webkit-input-placeholder{
    color: #ccc;
}